#gamefield {
	margin-top: 50px;
	display: block;
	height: 300px;
	text-align: center;
	display: none;
}

#timer {
	display: inline-block;
	width: 150px;
	height: 100px;
	border-radius: 10px;
	line-height: 100px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50pt;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ccc;
	user-select: none;
}

#score-right {
	position: relative;
	display: inline-block;
	float: right;
	height: 100px;
	width: 200px;
	line-height: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 20pt;
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
	user-select: none;
	color: rgba(0,0,0,0.4);
}

#score-left {
	position: relative;
	display: inline-block;
	float: left;
	height: 100px;
	width: 200px;
	user-select: none;
}
#types {
	margin: 20px auto;
}

#types div {
	display: inline-block;
	width: 350px;
	height: 40px;
	border-radius: 8px;
	margin: 0 10px;
	background-color: #163e18;
	color: #19691d;
	line-height: 40px;
	font-family: 'PT Mono', monospace;
	font-size: 20pt;
	user-select: none;
	transition: all .2s ease-in-out;
}

#types .active{
	color: #3dce44;
	text-shadow: 0px 0px 4px rgba(61,206,68,0.85);
}

#question {
	height: 60px;
	border-top-left-radius: 40px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 40px;
	text-align: left;
}

#question.correct {
	background-color: rgba(62, 211, 50, 0.5);
}

#question.incorrect {
	background-color: rgba(211, 50, 50, 0.5);
}

#question .data {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-radius: 5px;
	text-align: center;
	margin: 0 3px;
	font-family: 'Poiret One', cursive;
	font-size: 30pt;
	line-height: 60px;
	user-select: none;
}

#question #blank {
	background-color: rgba(255, 255, 255, 0.3) !important;
	color: #fff;
	float: right;
}

#answers {
	display: none;
	height: 100px;
	text-align: center;
	margin-top: 20px;
}

#answers .ans {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	border-radius: 10px;
	text-align: center;
	margin: 0 20px;
	font-family: 'Poiret One', cursive;
	font-size: 40pt;
	line-height: 80px;
	cursor: pointer;
	user-select: none;
	transition: all .2s ease-in-out;
}
#answers .ans:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#startpanel {
	margin-top: 100px;
	text-align: center;
}


#startpanel #start {
	display: inline-block;
	width: 150px;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	border-radius: 20px;
	font-family: 'Poiret One', cursive;
	font-size: 40pt;
	line-height: 80px;
	cursor: pointer;
	user-select: none;
	transition: all .2s ease-in-out;
}

#startpanel #start:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.ui-effects-transfer {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}


#user {
	user-select: none;
	display: none;
	font-family: "Ubuntu", sans-serif;
	font-size: 36px;
	color: #fff;
	text-align: center;
	padding-top: 100px;
}

#user #name {
	border: 0;
	width: 300px;
	height: 50px;
	border-radius: 25px;
	margin-top: 10px;
	font-family: "Ubuntu", sans-serif;
	font-size: 36px;
	padding: 4px 15px;
	color: #aaa;
	text-align: center;
}

#user-score {
	font-family: 'Oswald', sans-serif;
	font-size: 40pt;
	text-align: center;
	color: rgba(0,0,0,0.4);
}

#save {
	border: 0;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	margin-top: 10px;
	font-family: "Ubuntu", sans-serif;
	font-size: 25px;
	padding: 4px 10px;
	color: #aaa;
	text-align: center;
	cursor: pointer;
}

#save:hover {
	background-color: #444;
	color: #fff;
}
